/* Keyframes
   ========================================================================== */

/**
 * slideDown
 */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(8%);
    }
    65% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(4%);
    }
    95% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0);
    }
}

/**
 * slideUp
 */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-8%);
    }
    65% {
        transform: translateY(4%);
    }
    80% {
        transform: translateY(-4%);
    }
    95% {
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0)
    }
}

/**
 * pulse
 */
@keyframes pulse {
    0%, 100% {
        transform: scale(.9);
        opacity: .7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

/**
 * fadeIn
 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**
 * pop
 */
@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/**
 * wobble
 */
@keyframes wobble {
    0% {
        transform: translateX(0%) rotate(0deg);
    }
    25% {
        transform: translateX(-1%) rotate(-1deg);
    }
    75% {
        transform: translateX(1%) rotate(1deg);
    }
    100% {
        transform: translateX(0%) rotate(0deg);
    }
}
