/* ==========================================================================
   Shared
   ========================================================================== */

h1, .Hdg1,
h2, .Hdg2,
h3, .Hdg3 {
    @extend %p-freightSansPro600;
    color: $darker-text-color;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "kern";
}

h1, h2, hgroup,
ul, ol, dl, blockquote, p, pre, table, fieldset, figure, hr {
    @extend %p-pushDoubleBottom;
}

ul, ol, dl, p, blockquote,
figcaption, caption, cite {
    hyphens: auto;
}

ul, ol, dd {
    @include rem(margin-left, double($base-spacing-unit));
}
