/* ==========================================================================
   Blockquotes
   ========================================================================== */

blockquote {
    @extend %p-skolar400i;

    &:before {
        content: "\201C";
        display: inline-block;
        padding-right: .4em;
    }
}
