/* ==========================================================================
   Reset
   ========================================================================== */
h1, h2, h3, h4,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * http://j.mp/rNg5uA
 */
html {
    overflow-y: scroll;
    background-color: $white;
    font: {
        family: $body-font-family;
        size: _pc($base-font-size);
        weight: $body-font-weight;
        style: normal;
    }
    line-height: $line-height-ratio;
    color: $dark-text-color;
    height: 100%;
    min-width: _em(320);

    @include crp-Media-m {
        font-size: _pc($base-font-size + 2);
    }
}
html,
body {
    min-height: 100%;
}

body {
    //@include baseline-grid();
}

::-moz-selection {
    background-color: $selection-background-color;
    text-shadow: none;
}
::selection {
    background-color: $selection-background-color;
    text-shadow: none;
}

img::selection { background-color: transparent; }
img::-moz-selection { background-color: transparent; }
