// =============================================================================
// Layout + spacing
// =============================================================================
$gutter-width: $base-line-height;

$base-spacing-unit : $base-line-height;
$half-spacing-unit : $base-line-height / 2;
