// =============================================================================
// Magnific popup settings
// @see http://j.mp/15NBqBN
// =============================================================================

// overlay
$overlay-color: #0b0b0b; // Color of overlay screen
$overlay-opacity: 0.85; // Opacity of overlay screen
$shadow: 0 0 8px rgba(0, 0, 0, .6); // Shadow on image or iframe

$include-iframe-type: false;
$IE7support: false;
