/* ==========================================================================
   Dropdown component
   ========================================================================== */
@import "_mixins";

.Dropdown {
    @include obj-dropdown;
}

.with-Dropdown {
    position: relative;

    &:hover > .Dropdown {
        max-height: 999px;
        opacity: 1;
        pointer-events: auto;
    }
}
