// Mixin for returning pixel and rem values
// =============================================================================
@mixin rem($property, $values) {
    $list: ();

    @each $value in $values {
        @if $value == 0 or type-of($value) != number {
            $list: append($list, $value);
        } @else {
            @if $old-ie {
                $list: append($list, _px($value));
            } @else {
                $list: append($list, _rem($value));
            }
        }
    }

    #{$property}: #{$list};
}
