@mixin triangle(
    $direction: top,
    $size: $base-spacing-unit,
    $color: white
) {
    width: 0;
    height: 0;
    @if $direction == top or $direction == bottom {
        border-left: _em($size) solid transparent;
        border-right: _em($size) solid transparent;
    }
    @else {
        border-top: _em($size) solid transparent;
        border-bottom: _em($size) solid transparent;
    }
    @if $direction == top {
        border-bottom: _em($size) solid $color;
    }
    @if $direction == bottom {
        border-top: _em($size) solid $color;
    }
    @if $direction == left {
        border-right: _em($size) solid $color;
    }
    @if $direction == right {
        border-left: _em($size) solid $color;
    }
}
