/**
 * Doubled up margin-bottom
 */
.u-landmark {
    @extend %p-pushDoubleBottom;
}

/**
 * Add/remove margins
 */
.u-pushTop {
    margin-top: _em($base-spacing-unit) !important;
}
.u-pushBottom {
    margin-bottom: _em($base-spacing-unit) !important;
}
.u-pushHalfTop {
    margin-top: _em($half-spacing-unit) !important;
}
.u-pushHalfButtom {
    margin-bottom: _em($half-spacing-unit) !important;
}

.u-flushTop {
    margin-top: 0 !important;
}
.u-flushBottom {
    margin-bottom: 0 !important;
}

/**
 * Add/remove paddings
 */
.u-softTop {
    padding-top: _em($base-spacing-unit) !important;
}
.u-softBottom {
    padding-bottom: _em($base-spacing-unit) !important;
}
.u-softHalfTop {
    padding-top: _em($half-spacing-unit) !important;
}
.u-softHalfBottom {
    padding-bottom: _em($half-spacing-unit) !important;
}

.u-hardTop {
    padding-top: 0 !important;
}
.u-hardBottom {
    padding-bottom: 0 !important;
}

/**
 * Pull items full width of `.Island` parents
 */
.u-fullBleed {
    margin-right: _em(-$base-spacing-unit) !important;
    margin-left: _em(-$base-spacing-unit) !important;
}

.Islet .u-fullBleed,
.u-halfBleed {
    margin-right: _em(-$half-spacing-unit) !important;
    margin-left: _em(-$half-spacing-unit) !important;
}
